{
    "openapi": "3.0.0",
    "info": {
        "title": "Umbrella Industrial Services ERP API",
        "description": "Documentation API de l'ERP Umbrella",
        "contact": {
            "email": "support@umbrella.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Serveur local"
        }
    ],
    "paths": {
        "/api/agent": {
            "get": {
                "tags": [
                    "Agents"
                ],
                "summary": "Liste de tous les agents",
                "operationId": "39cb7f7e8bbb0ad49b14dbd4fd6a7bd3",
                "responses": {
                    "200": {
                        "description": "Liste des agents",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Agent"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agents"
                ],
                "summary": "Créer un nouvel agent",
                "operationId": "75886c27781ce381f38b0c570a229b80",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Agent créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agent"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/agent/{id}": {
            "get": {
                "tags": [
                    "Agents"
                ],
                "summary": "Afficher un agent spécifique",
                "operationId": "fed00983b2f90c7702bf0391bdd40e03",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "description": "ID de l'agent",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails de l'agent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agent"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Agents"
                ],
                "summary": "Mettre à jour un agent",
                "operationId": "41a512ce00a1f60aaf2387249ee2e183",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "description": "ID de l'agent",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Agent mis à jour avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agent"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agents"
                ],
                "summary": "Supprimer un agent",
                "operationId": "1cc42dc7b60a6bfff9d8aa613dc16252",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "description": "ID de l'agent",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent supprimé avec succès"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Connexion utilisateur",
                "operationId": "ea134134deae11eb974c719450ef8a02",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "matricule",
                                    "password"
                                ],
                                "properties": {
                                    "matricule": {
                                        "type": "string",
                                        "example": "UIS00042"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie"
                    },
                    "401": {
                        "description": "Identifiants invalides"
                    },
                    "403": {
                        "description": "Compte verrouillé"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Déconnexion utilisateur",
                "operationId": "5ebea01ab5f21df71d38f3505718a1d7",
                "responses": {
                    "200": {
                        "description": "Déconnecté avec succès"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/candidatures": {
            "get": {
                "tags": [
                    "Candidatures"
                ],
                "summary": "Récupérer toutes les candidatures",
                "operationId": "02ce0996996e5008ffdec64055a93565",
                "responses": {
                    "200": {
                        "description": "Liste des candidatures récupérée avec succès"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Candidatures"
                ],
                "summary": "Créer une nouvelle candidature",
                "operationId": "c53567ed67a01536c53587ff3cbb0da6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "location",
                                    "email"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Yaoundé"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+237699123456"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john.doe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Candidature créée avec succès"
                    },
                    "422": {
                        "description": "Validation des champs échouée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/candidatures/{candidature}": {
            "get": {
                "tags": [
                    "Candidatures"
                ],
                "summary": "Récupérer une candidature par ID",
                "operationId": "0b3282cd882f4e4f6466f5588a054a9e",
                "parameters": [
                    {
                        "name": "candidature",
                        "in": "path",
                        "description": "ID de la candidature",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Candidature récupérée avec succès"
                    },
                    "404": {
                        "description": "Candidature non trouvée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Candidatures"
                ],
                "summary": "Mettre à jour une candidature",
                "operationId": "05586317a8543d5fbd9aaf107d39775e",
                "parameters": [
                    {
                        "name": "candidature",
                        "in": "path",
                        "description": "ID de la candidature",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Douala"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+237699123456"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john.doe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Candidature mise à jour avec succès"
                    },
                    "404": {
                        "description": "Candidature non trouvée"
                    },
                    "422": {
                        "description": "Validation échouée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Candidatures"
                ],
                "summary": "Supprimer une candidature",
                "operationId": "9ba59d2d1ca0f12887b3deb7f98f507d",
                "parameters": [
                    {
                        "name": "candidature",
                        "in": "path",
                        "description": "ID de la candidature",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Candidature supprimée avec succès"
                    },
                    "404": {
                        "description": "Candidature non trouvée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/candidatures/{candidature}/validate": {
            "post": {
                "tags": [
                    "Candidatures"
                ],
                "summary": "Valider une candidature et créer un agent",
                "operationId": "cd964def58d3bd2dcac055166ba7a3c5",
                "parameters": [
                    {
                        "name": "candidature",
                        "in": "path",
                        "description": "ID de la candidature",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "site_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Candidature validée et agent créé"
                    }
                }
            }
        },
        "/api/sites": {
            "get": {
                "tags": [
                    "Sites"
                ],
                "summary": "Liste des sites",
                "operationId": "ea87f5937c918f54f392a75c5942fb7a",
                "responses": {
                    "200": {
                        "description": "Liste des sites récupérée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Sites"
                ],
                "summary": "Créer un site",
                "operationId": "ce626469d8f7287955203476a4c8c93f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "location",
                                    "responsable_id"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Site Centre"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Yaoundé"
                                    },
                                    "responsable_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Site créé avec succès"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/sites/{site}": {
            "get": {
                "tags": [
                    "Sites"
                ],
                "summary": "Afficher un site spécifique",
                "operationId": "c8b4289eb321c192034685322928bce9",
                "parameters": [
                    {
                        "name": "site",
                        "in": "path",
                        "description": "ID du site",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Site récupéré avec succès"
                    },
                    "404": {
                        "description": "Site non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Sites"
                ],
                "summary": "Mettre à jour un site",
                "operationId": "9f2f6bb359479192c24a82c651e40876",
                "parameters": [
                    {
                        "name": "site",
                        "in": "path",
                        "description": "ID du site",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Site Nord"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Douala"
                                    },
                                    "responsable_id": {
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Site mis à jour avec succès"
                    },
                    "404": {
                        "description": "Site non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Sites"
                ],
                "summary": "Supprimer un site",
                "operationId": "51d2b5b44b105d0ff8c024c3342c1e9f",
                "parameters": [
                    {
                        "name": "site",
                        "in": "path",
                        "description": "ID du site",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Site supprimé avec succès"
                    },
                    "404": {
                        "description": "Site non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Lister les utilisateurs",
                "operationId": "ac4677cdc04c8254bc8e5b4bc1ea8607",
                "responses": {
                    "200": {
                        "description": "Liste paginée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Créer un utilisateur",
                "operationId": "275321cd2f90b4f90ef6efb5d8eef292",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Utilisateur créé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users/{id}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Voir un utilisateur",
                "operationId": "eb5bb5660985e3682daa6b84e616e5b0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Mettre à jour un utilisateur",
                "operationId": "212f9157f8864781d74b04eeb56b182a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Utilisateur mis à jour"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Supprimer un utilisateur",
                "operationId": "9c8fd2108d91156811259b92773e608a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Utilisateur supprimé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "UserRequest": {
                "required": [
                    "first_name",
                    "last_name",
                    "location",
                    "email",
                    "password"
                ],
                "properties": {
                    "first_name": {
                        "type": "string",
                        "example": "John"
                    },
                    "last_name": {
                        "type": "string",
                        "example": "Doe"
                    },
                    "location": {
                        "type": "string",
                        "example": "Yaoundé"
                    },
                    "phone": {
                        "type": "string",
                        "example": "699123456"
                    },
                    "email": {
                        "type": "string",
                        "example": "john.doe@example.com"
                    },
                    "password": {
                        "type": "string",
                        "example": "secret123"
                    },
                    "password_confirmation": {
                        "type": "string",
                        "example": "secret123"
                    }
                },
                "type": "object"
            },
            "Agent": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "matricule": {
                        "type": "string",
                        "example": "AGT12345"
                    },
                    "first_name": {
                        "type": "string",
                        "example": "John"
                    },
                    "last_name": {
                        "type": "string",
                        "example": "Doe"
                    },
                    "location": {
                        "type": "string",
                        "example": "Yaoundé"
                    },
                    "phone": {
                        "type": "string",
                        "example": "699123456"
                    },
                    "email": {
                        "type": "string",
                        "example": "john.doe@example.com"
                    },
                    "role": {
                        "type": "string",
                        "example": "agent"
                    },
                    "site": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": 1
                            },
                            "name": {
                                "type": "string",
                                "example": "Site A"
                            },
                            "location": {
                                "type": "string",
                                "example": "Douala"
                            }
                        },
                        "type": "object"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Candidature": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "first_name": {
                        "type": "string",
                        "example": "Alice"
                    },
                    "last_name": {
                        "type": "string",
                        "example": "Smith"
                    },
                    "location": {
                        "type": "string",
                        "example": "Yaoundé"
                    },
                    "phone": {
                        "type": "string",
                        "example": "699654321"
                    },
                    "email": {
                        "type": "string",
                        "example": "alice.smith@example.com"
                    },
                    "status": {
                        "type": "string",
                        "example": "pending"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Site": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Site A"
                    },
                    "location": {
                        "type": "string",
                        "example": "Douala"
                    },
                    "responsable_id": {
                        "type": "integer",
                        "example": 2
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "AgentRequest": {
                "required": [
                    "first_name",
                    "last_name",
                    "location",
                    "email",
                    "site_id",
                    "password"
                ],
                "properties": {
                    "first_name": {
                        "type": "string",
                        "example": "John"
                    },
                    "last_name": {
                        "type": "string",
                        "example": "Doe"
                    },
                    "location": {
                        "type": "string",
                        "example": "Yaoundé"
                    },
                    "phone": {
                        "type": "string",
                        "example": "699123456"
                    },
                    "email": {
                        "type": "string",
                        "example": "john.doe@example.com"
                    },
                    "site_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "password": {
                        "type": "string",
                        "example": "secret123"
                    },
                    "password_confirmation": {
                        "type": "string",
                        "example": "secret123"
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Auth"
        },
        {
            "name": "Candidatures",
            "description": "Gestion des candidatures pour les agents"
        },
        {
            "name": "Sites",
            "description": "Gestion des sites par le responsable"
        },
        {
            "name": "Users"
        },
        {
            "name": "Agents",
            "description": "Agents"
        }
    ]
}